.contactUs-container div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

@media screen and (min-width: 1000px) {
  .contactUs-container img {
    width: 100%;
    height: 30rem;
    filter: blur(7px);
  }
}
@media screen and (max-width: 1000px) {
  .contactUs-container img {
    width: 100%;
    height: 30rem;
    filter: blur(7px);
  }
}
.contactUs-btn {
  background-color: #7d522a;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  .contactUs-container img {
    width: 100%;
    height: 13rem;
    filter: blur(7px);
  }
  .contactUs-container h1 {
    font-size: large;
  }
  .contactUs-container .container p {
    margin: 20px !important;
    font-size: small;
  }
  .contactUs-btn {
    background-color: #7d522a;
    color: rgb(255, 237, 214) !important;
    font-weight: 500;
    font-size: medium !important;
  }
}
